@(images: List[ch.insign.lightroom.LrImageAccessor])

<ul>
	@for(image <- images) {
		<li>
			<img height="@image.preview.get.getHeight" width="@image.preview.get.getWidth" src="@routes.Application.image(image.id, image.preview.get.getLevel)" /><br/>
			@image.file.getOriginalFilename<br />
			@image.image.getCaptureTime<br />
			From folder <a href="@routes.Application.folder(image.folder().getId_local)">@image.folder.getPathFromRoot</a><br>
			@* In collections:
			 TODO @for(collection <- image.collections) .... *@

			Available sizes:<br>
			<ul>
			@for(preview <- image.previews()) {
				<li>
					@if(image.previewFile(preview).isPresent) {
						<a href="@routes.Application.image(image.id, preview.getLevel)">
							@preview.getWidth x @preview.getHeight
						</a>
						 - @(image.previewFile(preview).get.length/1024) kb

					} else { @* previws db says present, but filesystem says no.. *@
						@preview.getWidth x @preview.getHeight
					}

				</li>
			}
			</ul>
		</li>
	}
</ul>