@()

@main("Welcome to Lightroom") {

    <h1>Welcome to Lightroom</h1>
    <ul>
        <li><a href="@routes.Application.folders">Folders</a></li>
        <li><a href="@routes.Application.collections">Collections</a></li>
    </ul>



}
